{% extends '::base.html.twig' %}

{% block body -%}
    <div class="span3">
        <h1>User Roles</h1>
        <form action="{{ path('user_role', { id: user_id }) }}" method="post" {{ form_enctype(role_form) }}>
            {{ form_widget(role_form) }}
            <p>
                <button type="submit" class="btn btn-primary">Save</button>
            </p>
        </form>

        <ul class="record_actions">
            <li>
                <a href="{{ path('user') }}">
                    Back to the list
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
