# Bootstrap
private/app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
private/app/config/parameters.ini
private/app/config/parameters.yml

/private/app/cache/*
/private/app/logs/*

/.idea
/private/LICENSE

/private/README.md
/private/UPGRADE-2.2.md
/private/UPGRADE-2.3.md
/private/UPGRADE.md
