# Bootstrap
private/app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
private/app/config/parameters.ini
private/app/config/parameters.yml

/private/app/cache/*
/private/app/logs/*

/.idea
